body{
    margin: 0;
    background-color: rgb(194, 194, 194);
    overflow: hidden;
    text-align: center;
}

#theCanvas{
    background-color: green;
    width: 80%;
}

div{
    margin:20px;
}

.main{
    display: flex;
    flex-wrap: wrap;
}
 
#slider {
    width: 20%;
}

.buttonsSection {
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}

.buttonsSubsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 20%;
}

.btn {
    width: 60%;
    margin-top: 5%;
    min-width: 100px;
}
