body{
    margin: 0;
    background-color: rgb(194, 194, 194);
    overflow: hidden;
    text-align: center;
}

#theCanvas{
    background-color: green;
    width: 80%;
}

div{
    margin:20px;
}

.main{
    display: flex;
}
 
#slider {
    width: 20%;
}

.buttonsSection {
    width:20%;
    margin-left: auto;
    margin-right: auto;
}

.buttonsSubsection {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    align-items: center;
}

.btn {
    width: 200px;
    margin-top: 10px;
}
